    <!DOCTYPE html>
<html>

        <head>
                <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
                <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
                <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
				<link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet">
                <link href="{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
                <title>About </title>
         <style>
 .imga {
		background-image:url(../static/img/2.jpg); 
        background-size: 100%;
        padding-top: 40px;
		color:white;		
		padding-bottom:22%;
    } 
    .first{
        opacity: 0.25  
    }
    .fi{
        margin-top: -410px;
		font-size:24px;
    }
    .second{
        opacity: 0.25
		font-size:24px;
    }
    .se{
        margin-top: -410px;
		font-size:24px;
    }
    .third{
        opacity: 0.25;

		}
    .th{
font-size:24px; 
 margin-top: -410px;
    }
</style>   </head>

 
<body>
    <div class="imga">
        <div class="container">
            <div class="row" >
                <div class="title text-center">
                    <h1>
                        <strong>ABOUT FOOTBALL</strong>
                    </h1>
                </div>
                <br>
				<div style="font-size:58px;margin-top:20%;color:black;font-weight:500px;">
                <h1>1. What is football game?</h1>
                <h1>2. How to play football?</h1>
                <h1>3. What is history football?</h1>
                <h1>4. What are the rules of the football?</h1>
        </div>
		</div>
        </div>
    </div>
    <br>
    <br>
    <div class="first">
        <img src="/static/img/te.jpg" class="fixed" width="100%">
    </div>
    <div class="fi">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2> What is a game of football?</h2>
                

                <p><i> American football, referred to as football in the United States and Canada and also known as gridiron, is
                    a team sport played by two teams of eleven players on a rectangular field with goalposts at each end.
                    ... The team with the most points at the end of a game wins</i></p>
            </div>
            <div class="col-sm-6">
                <img src="/static/img/4.jpg" class="img-thumbnail" width="100%">
            </div>
        </div>  
    </div>
</div>
    <br><br><br><br><br>
    <div class="second">
            <img src="/static/img/te.jpg" class="fixed" width="100%">
        </div>
    <div class="se">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <img src="/static/img/5.jpg" class="img-thumbnail" width="100%">
                </div>
            </div>
            <div class="col-sm-6">
                <h2>What is the history of football?</h2>
                <p><i>The contemporary history of the world's favourite game spans more than 100 years. It all began in 1863 in
                    England, when rugby football and association football branched off on their different courses and the
                    Football Association in England was formed - becoming the sport's first governing body.</i></p>
            </div>
        </div>
    </div>
</div>
    <br><br><br>
    <div class="third">
            <img src="/static/img/te.jpg" class="fixed" width="100%">
        </div>
        <div class="th">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2> What are the rules of football?</h2>
                <p> <i>American football, referred to as football in the United States and Canada and also known as gridiron, is
                    a team sport played by two teams of eleven players on a rectangular field with goalposts at each end.
                    ... The team with the most points at the end of a game wins</i></p>
            </div>
            <div class="col-sm-6">
                <img src="/static/img/g.jpg" class="img-thumbnail" width="99%" height="25px">
            </div>
        </div>
    </div>
</div>
    <br><br><br>

</body>

</html>