<!DOCTYPE html>
<html>

<head>
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
    <title>Contact us</title>
</head>

<body style="background-image: url(../static/img/26.jpg);background-size: cover;color:white">
   
    <div class="title text-center">
        <h1>CONTACT US</h1>
    </div>
    <div class="tex text-center">
        <h3>If you want to know more information about this please inbox us!</h3>
    </div>
  
    <div class="col text-center">
        <h3>Get's Connect with us</h3>
    </div>
    <br>
    <br>
    <div class="cont">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="Name" placeholder="Enter your name">
                    <br>
                    <input type="text" class="form-control" id="mobile number" placeholder="mobile number">
                    <br>
                    <input type="text" class="form-control" id="E-mail" placeholder="E-mail ">
                    <br>
                    <textarea class="form-control" rows="7" placeholder="Comments"></textarea>
                    <br>
                    <button type="button" class="btn btn-success btn-lg">Touch! </button>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5 " style="font-size: 2em;">
                    <u>
                        <h1><strong>Contact us</strong></h1>
                    </u>
                    
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                        
                        Steve's Work
                        <br>&NonBreakingSpace;&NonBreakingSpace;  77,Anna street,
                        <br>&NonBreakingSpace;&NonBreakingSpace;  Coimbatore.
                       
                    </p>
                    <p>
                        <i class="fa fa-phone"></i>
                        +91 9876544321</p>
                    <p>
                        <i class="fa fa-envelope"></i>
                        steve@gmail.com</p>

                </div>
            </div>
        </div>

    </div>
    <footer>
        <div class="footer">
            <center>
                <div class="cl">
                    <h2>Follow us on</h2>
                    <br>
                
                </div>
                <div class="faa">
                    <i class="fa fa-facebook fa-3x"></i>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;
                    <i class="fa fa-skype fa-3x"></i>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;
                    <i class="fa fa-twitter fa-3x"></i>&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;
                    <i class="fa fa-envelope fa-3x"></i>
                    <br>
                    <br>
                   
                   
                    <br>

                </div>
            </center>

        </div>

        </div>
        <div class="oo text-center">
            <p>Football © copyright 2018.Design and developed by
                <i>Steve's work</i>
            </p>
        </div>
    </footer>

</body>

</html>