<!DOCTYPE html>
<html>

<head>
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
    <title>Thank</title>
</head>

<body>
    <h1 style="text-size:55;text-align:center">ThANK yOU</h1>
</body>

</html>